html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "banner banner banner"
  "col1 col2 col3";
  gap: .75rem;
}

.img-banner {
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  color: #fff;
  algin-self: end;
  padding: 1.5rem;
}

.banner-text h2,
.banner-text p {
  margin-bottom: 0;
}

header {
  padding: 1.5rem 1rem;
}

h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.8rem;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0 0 0 1.5;
}

p {
  margin: 0 0 1.5rem;
}

figure {
  margin: 0;
}

figure h2 {
  margin-bottom: 0;
}

figcaption {
  padding: 1rem;
}
